
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.g.props
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.dgspec.json
SchattenclownBot/obj/project.nuget.cache
SchattenclownBot/obj/project.assets.json
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.GeneratedMSBuildEditorConfig.editorconfig
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.csproj.AssemblyReference.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.assets.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.GeneratedMSBuildEditorConfig.editorconfig
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.assets.cache
.vs/SchattenclownBot/v16/.suo
.vs/SchattenclownBot/DesignTimeBuild/.dtbcache.v2
.vs/SchattenclownBot/DesignTimeBuild/.dtbcache.v2
.vs/SchattenclownBot/v16/.suo
SchattenclownBot/bin/Debug/netcoreapp3.1/SchattenclownBot.dll
SchattenclownBot/bin/Debug/netcoreapp3.1/SchattenclownBot.pdb
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.assets.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.csproj.AssemblyReference.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.dll
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.GeneratedMSBuildEditorConfig.editorconfig
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.pdb
SchattenclownBot/obj/project.assets.json
SchattenclownBot/obj/project.nuget.cache
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.dgspec.json
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.g.props
