
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.g.props
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.dgspec.json
SchattenclownBot/obj/project.nuget.cache
SchattenclownBot/obj/project.assets.json
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.GeneratedMSBuildEditorConfig.editorconfig
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.csproj.AssemblyReference.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.assets.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.GeneratedMSBuildEditorConfig.editorconfig
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.assets.cache
.vs/SchattenclownBot/v16/.suo
.vs/SchattenclownBot/DesignTimeBuild/.dtbcache.v2
.vs/SchattenclownBot/DesignTimeBuild/.dtbcache.v2
.vs/SchattenclownBot/v16/.suo
SchattenclownBot/bin/Debug/netcoreapp3.1/SchattenclownBot.dll
SchattenclownBot/bin/Debug/netcoreapp3.1/SchattenclownBot.pdb
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.assets.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.csproj.AssemblyReference.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.dll
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.GeneratedMSBuildEditorConfig.editorconfig
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.pdb
SchattenclownBot/obj/project.assets.json
SchattenclownBot/obj/project.nuget.cache
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.dgspec.json
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.g.props
.vs/SchattenclownBot/v16/.suo
SchattenclownBot/bin/Debug/netcoreapp3.1/SchattenclownBot.dll
SchattenclownBot/bin/Debug/netcoreapp3.1/SchattenclownBot.exe
SchattenclownBot/bin/Debug/netcoreapp3.1/SchattenclownBot.pdb
SchattenclownBot/bin/Debug/netcoreapp3.1/SchattenclownBot.runtimeconfig.dev.json
SchattenclownBot/bin/Release/netcoreapp3.1/SchattenclownBot.dll
SchattenclownBot/bin/Release/netcoreapp3.1/SchattenclownBot.exe
SchattenclownBot/bin/Release/netcoreapp3.1/SchattenclownBot.pdb
SchattenclownBot/bin/Release/netcoreapp3.1/SchattenclownBot.runtimeconfig.dev.json
SchattenclownBot/obj/Debug/netcoreapp3.1/apphost.exe
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.assets.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.csproj.AssemblyReference.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.csproj.CoreCompileInputs.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.csproj.FileListAbsolute.txt
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.dll
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.GeneratedMSBuildEditorConfig.editorconfig
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.genruntimeconfig.cache
SchattenclownBot/obj/Debug/netcoreapp3.1/SchattenclownBot.pdb
SchattenclownBot/obj/project.assets.json
SchattenclownBot/obj/project.nuget.cache
SchattenclownBot/obj/Release/netcoreapp3.1/apphost.exe
SchattenclownBot/obj/Release/netcoreapp3.1/SchattenclownBot.assets.cache
SchattenclownBot/obj/Release/netcoreapp3.1/SchattenclownBot.csproj.CoreCompileInputs.cache
SchattenclownBot/obj/Release/netcoreapp3.1/SchattenclownBot.csproj.FileListAbsolute.txt
SchattenclownBot/obj/Release/netcoreapp3.1/SchattenclownBot.dll
SchattenclownBot/obj/Release/netcoreapp3.1/SchattenclownBot.GeneratedMSBuildEditorConfig.editorconfig
SchattenclownBot/obj/Release/netcoreapp3.1/SchattenclownBot.genruntimeconfig.cache
SchattenclownBot/obj/Release/netcoreapp3.1/SchattenclownBot.pdb
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.dgspec.json
SchattenclownBot/obj/SchattenclownBot.csproj.nuget.g.props
.vs/SchattenclownBot/v16/.suo
.vs/SchattenclownBot/v16/.suo
